@media only screen and (max-width: 425px) {
  #image-1 {
    margin-top: 36px;
  }
  #btn-1 {
    width: 100px !important;
  }
  #home {
    height: 90% !important;
  }
  #work-text p {
    display: none;
  }
  #work-text h3 {
    font-size: 15px;
  }
  #work-text a {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 768px) {
  #btn-2 {
    width: 100px !important;
  }
}
