@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(media.css);
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;    
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: rgb(231, 62, 62);
    font-weight: bold;
    /* text-decoration: underline; */
}
.navbar{
    box-shadow: 2px 2px 10px lightgray;
    border-bottom: 1px solid #f8f9fa;
   
}
.padding-top{
padding-top:245px ;
}
.for-line{
    height: 2px;
    margin-left: 80px;
    margin-top: -20px;
}
.head2{
    font-size: 76px;
    margin-right: 105px;
    font-weight: bold;
    margin-top: 33px;
    font-family: 'Shantell Sans', cursive  !important;
}
.head3{
    
    font-size: 20px;
    border-bottom: 2px solid #e73e3e;
    width: 247px;
    font-weight: 600;
}
.home{
    height: 100vh !important;
    background-attachment: fixed;
   
}
.image-1{
    margin-top: 261px;
    
}
.About{
    background-color: #000;
    color: #fff;
}
.img-1{
    background-color: #d9e3ed3b;
    border-radius: 28px;
}
.tab{
    border-bottom: 1px solid #e73e3e;
}
.CART-1 i{
    font-size: 50px !important;
}
.CART-1{
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    transition: all 2s !important;
}
.CART-1:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
.head4{
    transition: all 2s !important;
}
.portfolio{
    background-color: #000;
    color: white ;
    padding: 40px;
}
.work{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.work img{
    border-radius: 10px;
    display: block;
    /* transition: all 1s !important; */
}
.work-text{
    width: 100%;
    height: 0;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.6), #f17f7f);
    left: 0;    
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    color: #fff;
    transition: all 1s !important;
}
.work-text h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.work-text a{
    margin-top: 10px;
    color: #f17f7f;
    text-decoration: none;
    font-size: 18px;
    background: #fff;
    width: 50px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;  
}
.work:hover .work-text{
    height: 100%;

}
